@font-face { 
    font-family: "zabars"; 
    src: url("/font/zabars.ttf"); 
}



body {
    font-family: zabars, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100svh;
    background: #fff url('img/desert-5112222.svg') center center/cover no-repeat;
}

.content {
    position: relative;
}

.fullscreen {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}

.fullscreen img {
    transition: all ease-in-out 175ms;
}

.fullscreen img:hover {
    transform: scale(1.2);
    transition: all ease-in-out 175ms;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.hud {
    display: none;
}

canvas {
    background-color: black;
    display: block;
    position: relative;
    border-radius: 20px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;
        
    }
    h1 {
        display: none;
    }

    .fullscreen {
        display: none;
    }

    .hud {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .btns button {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
}

