@font-face {
    font-family: "zabars";
    src: url("./font/zabars.ttf");
}



body {
    font-family: zabars, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100svh;
    background: #fff url('img/desert-5112222.svg') center center/cover no-repeat;
}

.d-none {
    display: none !important;
}

#content {
    position: relative;
}

.fullscreen {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}

.fullscreen img {
    margin-top: 10px;
    transition: all ease-in-out 175ms;
    width: 32px;
    height: 32px;
}

.fullscreen img:hover {
    transform: scale(1.2);
    transition: all ease-in-out 175ms;
}

#startscreen,
#gameOver,
#lost,
#settings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.keySettings {
    height: 80%;
    width: 40%;
    border: 1px solid black;
    background-color: #FFC402;
    margin-left: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    z-index: 2;
}

#startbtn,
#restartBtn {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#startbtn button,
#restartBtn button {
    background-color: #FFC402;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: zabars, sans-serif;
    font-size: 24px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.hud {
    display: none;
}

canvas {
    background-color: black;
    display: block;
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

@keyframes cooldown {
    0% {
        background-color: #b1b1b1;
    }

    100% {
        background-color: #EFEFEF;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .hud {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10svh;
        display: flex;
        justify-content: space-around;
    }
    .btns button {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    #startbtn,
    #restartBtn {
        bottom: unset;
        top: 30px
    }

    .fullscreen {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100svh;

    }

    h1 {
        display: none;
    }

    #startbtn,
    #restartBtn {
        bottom: unset;
        top: 30px
    }
    
    .fullscreen {
        display: none;
    }

    .hud {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .btns button {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
}